label {
    display: block;
    margin-top: 10px;
}
.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.profile-form-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
}
.profile-form {
    display: flex;
    flex-direction: column;
    align-content: center;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
button {
    margin-top: 15px;
    padding: 10px 15px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
}
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #888;
}
.modal-header {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
#logo {
    width: 50px !important;
    height: 50px !important;
}